@import "tailwindcss";
@theme {
  --color-beigelight: #faf7f0;
  --color-teal: #8b968e;
  --color-beigedark: #d8d2c2;
  --color-gray: #2d2d2e;
  --color-brown: #b17457;
  --color-darkteal: #274b5b;
}
